NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_CONSOLE_URL=http://localhost:3002
NEXT_PUBLIC_API_URL=http://localhost:3004
NEXT_PUBLIC_SENTINEL_URL=http://localhost:3007
NEXT_PUBLIC_CSPM_URL=http://localhost:3008
